{% extends 'base.html' %}

{% block title %}ADMIN Login{% endblock title %}

{% block content %}

<form action="" method="POST" novalidate class="shadow p-4">
    {% csrf_token %}
    <div class="form-group">
        <input type="username" class="form-control" name="username" placeholder="username"><br>
        <input type="password" class="form-control" name="password" id="password"
            placeholder="Enter your password">
        <small class="text-danger"></small> <br>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Admin Login">
    <br>
    <div class="text-center text-primary fw-bold"><small>Don't Have an Account?</small></br><a href="{% url 'admin-register' %}">Sign up</a></small></div>
    
   </form>

{% endblock content %}