{% extends 'base.html' %}

{% block title %}Admin Wall{% endblock title %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Hello {{member.first_name}} !</h1>
    <p class="lead">As you are Admin, you can add a book to library, view available book in library,
        Issue books to students,
        View issued book to students and many more ... !

    </p>
    <hr class="my-4">
    <h6 class="display-6">Option Available For You : </h6>
    <hr>
    
        
            
    </div>
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Add Book To Library </h5>
              <p class="card-text"></p>
              <div class="btn-group">
                <a href="{% url 'add-book'%}"><button type="button" class="btn btn-sm btn-outline-primary">Add</button></a>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> View ALL Member  </h5>
              <p class="card-text"></p>
              <div class="btn-group">
                <a href="{% url 'book-list'%}"><button type="button" class="btn btn-sm btn-outline-success">View</button></a>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Issue New Book </h5>
              <p class="card-text"></p>
              <div class="btn-group">
                <a href="{% url 'issue-book'%}"><button type="button" class="btn btn-sm btn-outline-secondary">Add</button></a>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> View Issued Book </h5>
              <p class="card-text"></p>
              <div class="btn-group">
                <a href="#"><button type="button" class="btn btn-sm btn-outline-primary">View</button></a>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> View Available Book </h5>
              <p class="card-text"></p>
              <div class="btn-group">
                <a href="{% url 'member-list'%}"><button type="button" class="btn btn-sm btn-outline-danger">Rest View</button></a>
              </div>
            </div>

          </div>
        </div>
      </div>

</div>

{% endblock content %}