<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Book</title>
</head>
<body>
    <div>
        <a href="{{request.META.HTTP_REFERER}}"><button type="button" class="btn btn-outline-primary">Go Back</button></a>
    </div>
    <div>
        <h1>Issue Book</h1>
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <a href="{% url 'issue-book' %}"><button>Submit</button></a>
        </form>
    </div>

    
</body>
</html>