{% extends 'base.html' %}

{% block title %}Member click{% endblock title %}

{% block content %}
<br><br>
<div class="jumbotron">
    <h1 class="display-4">Hello, Student</h1>
    <p class="lead">Welcome to Online Library Management System.</p>
    <hr class="my-4">
    <p>You can access various features after Login.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" style="border-radius: 0%;" href="{% url 'member-register' %}" role="button">SignUp</a>
        <a class="btn btn-primary btn-lg" style="border-radius: 0%;" href="{% url 'member-login' %}" role="button">Login</a>
    </p>
</div>



{% endblock content %}